# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: trcottam <trcottam@student.s19.be>         +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2020/12/14 16:06:32 by trcottam          #+#    #+#              #
#    Updated: 2020/12/14 16:06:58 by trcottam         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

/libft.a
/obj/
